.project-card {
  display: flex;
  background-color: transparent;
  overflow: hidden;
  transition: transform 0.3s ease;
  gap: 3rem;
  width: 100%;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding-bottom: 2.5rem;
}

.project-image {
  width: 20rem;
  height: 15rem;
}

.github-button {
  background-color: #000;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  text-decoration: none;
}
